:root {
    --sidebar: rgb(14, 112, 129);
    --header: rgba(255, 255, 255, 1.0);
    --main: rgba(177, 177, 177, 0.5);
}

body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 20% 80%;
}

.sidebar {
    background-color: var(--sidebar);
    grid-row: span 2;
}

.header {
    background-color: var(--header);
}

.main {
    background-color: var(--main);
}




